<!-- edit_person.html -->

{% extends "layout.html" %} <!-- This template extends the base layout.html file -->

{% block content %}
<section id="todos">
    <header>
        <h2>Editing {{ name }}</h2> <!-- Page header showing the name of the person being edited -->
    </header>
</section>

<div>
<!-- Form to edit a person's name and gift ideas -->
<form action="{{ url_for('edit_person', id=id) }}" method="post">
    <dl>
        <!-- Input field for editing the person's name -->
        <dt>
            <label for="name">Enter the Name:</label>
        </dt>
        <dd>
            <input type="text" name="name" value="{{ name }}" size="50">
            <!-- The 'value' attribute pre-fills the input field with the current name -->
        </dd>

        <!-- Textarea for editing the person's gift ideas -->
        <dt>
            <label for="gift_lst">Enter your ideas, one line at a time:</label>
        </dt>
        <dd>
            <textarea name="gift_lst" rows="10" cols="50">{{ gift_lst }}</textarea>
            <!-- The 'gift_lst' variable pre-fills the textarea with the current list of gift ideas -->
        </dd>
    </dl>
    <fieldset>
        <!-- Submit button to save changes -->
        <input type="submit" value="Save">
        
        <!-- Cancel button to return to the person's details page without saving changes -->
        <a href="{{ url_for('person', id=id) }}">Cancel</a>
    </fieldset>
</form>

<!-- Form to delete the person -->
<form class="delete-form" action="{{ url_for('delete_person', id=id) }}" method="post">
    <fieldset>
        <!-- Submit button to delete the person -->
        <input type="submit" value="Delete Person">
    </fieldset>
</form>
</div>
{% endblock %}
