<!-- home.html -->

{% extends "layout.html" %}

{% block content %}
  <!-- Check if the user is logged in -->
  {% if g.user_id %}
    <h2>Welcome to your Gift Ideas List!</h2>
    <!-- Check if there are any people in the list -->
    {% if people | length > 0 %}
      <p>Here are the people and their gift ideas:</p>
      <ul>
        <!-- Loop through the list of people -->
        {% for person in people %}
          <li>
            <!-- Link to page for each person -->
            <a href="{{ url_for('person', id=person.id) }}">{{ person.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <!-- Check if pagination is needed -->
      {% if total_pages > 1 %}
      <div class="pagination">
        <!-- Show the "Previous" link if not on the first page -->
        {% if page > 1 %}
          <a href="{{ url_for('home', page=page - 1) }}">Previous</a>
        {% endif %}
        <!-- Loop through all pages -->
        {% for i in range(1, total_pages + 1) %}
          <!-- Highlight the current page -->
          {% if i == page %}
            <span class="current">{{ i }}</span>
          <!-- Link to other pages -->
          {% else %}
            <a href="{{ url_for('home', page=i) }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        <!-- Show the "Next" link if not on the last page -->
        {% if page < total_pages %}
          <a href="{{ url_for('home', page=page + 1) }}">Next</a>
        {% endif %}
      </div>
      {% endif %}
    {% else %}
      <!-- Message shown if there are no people in the list -->
      <p>You don't have any people. <a href="{{ url_for('add_person') }}">Add a new person</a> to start brainstorming gift ideas!</p>
    {% endif %}
  {% else %}
    <!-- Message shown if the user is not logged in -->
    <h2>Welcome to the Gift Ideas List!</h2>
    <p>Please <a href="{{ url_for('login') }}">log in</a> or <a href="{{ url_for('register') }}">register</a> to view and manage your gift ideas.</p>
  {% endif %}
{% endblock %}