<!-- layout.html -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Ideas Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/application.css') }}">
</head>
<body>
  <h1>Gift Ideas Tracker</h1>

  <div>
    {% with messages = get_flashed_messages(with_categories=True) %}
      <!-- Check if there are any flash messages -->
      {% if messages %}
        <!-- Loop through all flash messages -->
        {% for category, message in messages %}
            <div class="flash {{ category }}">
                <!-- Display each flash message -->
                <p>{{ message }}</p>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <div>
    {% block content %}{% endblock %}
  </div>

  <!-- Check if the user is logged in -->
  {% if g.user_id %}
  <div class="navigation">
    <!-- navigation links -->
    <p><a href="{{ url_for('home') }}">Home</a></p>
    <p><a href="{{ url_for('search') }}">Search</a></p>
    <p><a href="{{ url_for('add_person') }}">Add New Person</a></p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
  </div>
  <!-- If the user is not logged in -->
  {% else %}
  <div class="navigation">
    <!-- navigation links -->
    <p><a href="{{ url_for('login') }}">Login</a></p>
    <p><a href="{{ url_for('register') }}">Register</a></p>
  </div>
  {% endif %}

  <script src="{{ url_for('static', filename='javascripts/application.js') }}"></script>
</body>
</html>