<!-- name.html -->

{% extends "layout.html" %}

{% block content %}
<!-- Display the name of the person -->
<h2>{{ name }}</h2>

<div>
  <ul class="gift-list">
    <!-- Loop through the list of gift ideas -->
    {% for item in gift_lst %}
      <!-- Display each gift idea as a list item -->
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
</div>

<div class="edit-name-and-gifts">
  <!-- Buttons to edit the name and gifts -->
  <p><a class="button" href="{{ url_for('edit_name', id=id) }}">Edit Name</a></p>
  <p><a class="button" href="{{ url_for('edit_gifts', id=id) }}">Edit Gifts</a></p>
</div>
{% endblock %}
