<!-- register.html -->

{% extends "layout.html" %}

{% block content %}
<section id="authentication">
    <header>
        <h2>Register</h2>
    </header>
</section>

<div>
    <!-- Form to handle user registration -->
    <form action="{{ url_for('register') }}" method="post">
        <dl>
            <dt>
                <!-- Input for the username -->
                <label for="username">Username:</label>
            </dt>
            <dd>
                <input type="text" name="username" 
                       value="{{ request.form['username'] if request.form else '' }}" 
                       size="50" required>
            </dd>

            <dt>
                <!-- Input for the password -->
                <label for="password">Password:</label>
            </dt>
            <dd>
                <input type="password" name="password" size="50" required>
            </dd>

            <!-- confirm the password -->
            <dt>
                <label for="confirm_password">Confirm Password:</label>
            </dt>
            <dd>
                <!-- Makes sure user confirms their password -->
                <input type="password" name="confirm_password" size="50" required>
            </dd>
        </dl>
        <fieldset>
            <!-- Submit button to register user -->
            <input type="submit" value="Register">
            
            <!-- Link to the login page -->
            <a href="{{ url_for('login') }}">Already have an account? Login</a>
        </fieldset>
    </form>
</div>
{% endblock %}