<!-- search.html -->

{% extends "layout.html" %}

{% block content %}
<h2>Search</h2>

<!-- Search form -->
<form action="{{ url_for('search') }}" method="get">
  <!-- Input for the search query -->
  <input name="query" value="{{ query }}" />
  <!-- Submit button -->
  <button type="submit">Search</button>
</form>

<!-- Check if a search query was submitted -->
{% if query %}
  <!-- Check if there are no results -->
  {% if results | length == 0 %}
    <!-- Message displayed if no results are found -->
    <p>Sorry, no matches were found.</p>
  {% else %}
    <!-- Display search query -->
    <h2>Results for '{{ query }}'</h2>
    <ul>
      <!-- Loop through search results -->
      {% for result in results %}
        <li>
          <!-- Link to page for each person in results -->
          <h4><a href="{{ url_for('person', id=result.id) }}">{{ result.name }}</a></h4>
          <ul class="gift-list">
            <!-- Loop through the paginated gift ideas for each person -->
            {% for item in result.paginated_gifts %}
              <!-- Display each gift idea as a list item -->
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>

    <!-- Check if pagination is needed -->
    {% if total_pages > 1 %}
    <div class="pagination">
      <!-- Show "Previous" link if not on the first page -->
      {% if page > 1 %}
        <a href="{{ url_for('search', page=page - 1, query=query) }}">Previous</a>
      {% endif %}

      <!-- Loop through all pages -->
      {% for i in range(1, total_pages + 1) %}
        <!-- Highlight the current page -->
        {% if i == page %}
          <span class="current">{{ i }}</span>
        <!-- Link to other pages -->
        {% else %}
          <a href="{{ url_for('search', page=i, query=query) }}">{{ i }}</a>
        {% endif %}
      {% endfor %}
      <!-- Show the "Next" link if not on the last page -->
      {% if page < total_pages %} 
        <a href="{{ url_for('search', page=page + 1, query=query) }}">Next</a>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}
{% endif %}

{% endblock %}